__pycache__/
*.pyc
*.pyo
cache/

.venv
.env

*.zip
*.txt

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
# infra/terraform/*.tfvars
infra/terraform/*.tfvars.json

# Graph data (large binary)
data/
*.pkl
polygon_sp.json

# OS
.DS_Store
Thumbs.db
